$secondary: #A3BCF9;
$primary: #ffffff;
$black: #000000;
$search-primary: #576490;
$hover-link: #576490;
$card-primary: #1ba8a8;
$disable-btn: #C9CAD9;
$red: #ff0000;
$light-red: #FF7F7F;
$error: #ffcccc;
$success: #adebad;
$green: #2db92d;
$gray: #7a7a7a;
$lato: Lato;
$roboto: Roboto;
$muli: Muli;
$vollkorn: 'Vollkorn';
$blue: #3f3dc9;
$light-green: #90EE90;
$light-gray: #808080;
$button: #000000;
$yellow: #f7da3f;
$light-blue: #e1f3fd;

$desktop-width-large: 1310px;
$desktop-width: 1024px;
$table-width-large: 768px;
$table-width-small: 600px;
$mobile-width-large: 500px;
$mobile-width-middle: 428px;
$mobile-width-small: 370px;
