@import 'constants/const-styles.scss';
@import 'constants/media-queries.scss';

.departments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    &__label {
        font-family: $vollkorn;
    }

    &__carts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin-top: 50px;
    }
}
